body {
    font-family: "Roboto", serif;
}

/*--------- Colors*/
/* background*/

.bg-red {
    background-color: #E1002D;
}

.bg-black {
    background-color: #0f0f0f;
}

.bg-white {
    background-color: #FFFFFF;
}

.bg-grey {
    background-color: #BABABA;
}

.bg-green {
    background-color: #00bd4b;
}

/* text*/

.tx-red {
    color: #E1002D;
}

.tx-black {
    color: #0f0f0f;
}

.tx-white {
    color: #FFFFFF;
}

.tx-grey {
    color: #BABABA;
}

.tx-green {
    color: #00bd4b;
}

/* golbal button hover*/

.btn:hover, .btn-large:hover, .btn-small:hover {
    background-color: #BABABA;
}

/*--------- flash messages*/
.flashes {
    line-height: 1;
}

.flashes h3 {
    border-top: 2px solid #0f0f0f;
    border-bottom: 2px solid #0f0f0f;
}

/*--------- Welcome page*/
.background-img {
    background-image: url("../imgs/yourtube_welcome_img.png");
    height: 100vh;
    background-size: cover;
}

#welcome-card {
    height: 550px;
    width: 700px;
    background-color: #E1002D;
    border-radius: 20px;
}

.welcome-card-title {
    font-size: 50px;
    background-color: #FFFFFF;
}

.welcome-card-text {
    color: #FFFFFF;
    font-size: large;
    margin-top: 50px;
}

.welcome-options-wrapper {
    margin-top: 40px;
}

.welcome-options-wrapper a {
    margin: 15px;
}


/*--------- Header*/
/* Logo*/
/*Credit to Richard Rembert: https://dev.to/rembertdesigns/youtube-logo-pure-css-2268*/
.youtube{
    color:white;
    position: relative;
    width: var(--width);
    height: var(--height);
    background-color: #e21;
    padding: 0 15px;
    border-radius: 50% / 11%;
    margin: 5px 0px 0px 5px;
}
.youtube::before{
    position: absolute;
    background: inherit;
    top: 10%;
    bottom: 10%;
    right: -5%;
    left: -4.5%;
    border-radius: 5% / 50%;
}
/*end of credit*/

.brand-logo {
    margin-left: 15px;
}
/* Nav Bar*/

.nav-bttn {
    font-size: large;
    border-radius: 10px;
    height: 40px;
    margin: 10px 5px 5px 5px;
    font-weight: 300;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #BABABA;
}

#signin {
    background-color: #00bd4b;
    color: #FFFFFF;
    border: none;
}

#signin:hover {
    background-color: rgb(0, 189, 75, 0.5);
}

#signout {
    background-color: #E1002D;
    color: #FFFFFF;
    border: none;
}

#signout:hover {
    background-color: rgb(255, 0, 45, 0.5);
}

/*--------- Screen Title*/
.underline-wrapper {
    border-bottom: 2px solid #E1002D;
}

/*--------- Reviews*/
/* review feed*/

.collapsible-header:hover {
    background-color: rgb(255, 0, 45, 0.5);
}

.channel-name {
    color: #FFFFFF;
    margin-right: 30px;
    font-weight: 550;
    font-size: 20px;
}

.link-hover:hover {
    text-decoration: underline;
}

.edit-bttn {
    background-color: #00bd4b;
    color: #FFFFFF;
    width:28px;
    height: 30px;
    border-radius: 5px;
    position: absolute;
    right: 60px;
    padding-top: 3px;
}


.collapsible-body {
    padding: 15px;
}

/* your reviews*/

.create-bttn-wrapper {
    margin-top: 25px;
    margin-bottom: 0px;
    width: 100%;
}

.create-bttn-wrapper a {
    width: 90%;
}

/*--------- Forms*/
/* signin&up*/

.form-icon { 
    font-size: 35px;
    margin-top: 17px;
    color: #E1002D;
}

form button, form a {
    margin: 50px 10px 0 10px;
    width: 90%;
}

/* edit & create*/

form .switch label {
    color:#E1002D;
    font-size: 15px;
}

form .switch {
    height:15px;
}

.switch label input[type=checkbox]:checked+.lever:after {
    background-color: #E1002D;
}

.switch label input[type=checkbox]:checked+.lever {
    background-color: rgb(255, 0, 45, 0.5);
}

.delete-bttn, .delete-bttn:focus {
    color: #FFFFFF;
    width:28px;
    height: 30px;
    border-radius: 5px;
    padding-top: 3px;
    background-color: #E1002D;
    border: none;
    width: 40px;
    height: 40px;
    font-size: 28px;
    margin: 10px;
}

/*--------- Modal*/
/* delete modal*/

.modal-icon {
    font-size: 85px;
}

/*--------- Footer*/
.footer {
    height: 50px;
    padding: 35px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

.footer a{
    font-size: 33px;
    margin: 0 auto;
}

.footer i {
    font-size: 10px;
    vertical-align: top;
}