<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>YourTube</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script src="https://kit.fontawesome.com/289e1d11d0.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css">
</head>

<body>
    <!--Start of header-->
    <header>
        <nav>
            <!--Main nav bar buttons-->
            <div class="nav-wrapper bg-white">
                <a href="#!" class="brand-logo black-text"><span class="youtube white-text">Your</span>Tube</a>
                <a href="#" data-target="mobile-demo" class="sidenav-trigger tx-black"><i
                        class="fa-solid fa-bars"></i></a>
                <ul class="right hide-on-med-and-down">
                    <li><a class="tx-black nav-bttn" href="{{ url_for('feed') }}">Feed</a></li>
                    {% if session.user %}
                    <li><a class="tx-black nav-bttn" href="{{ url_for('your_reviews') }}">Your Reviews</a></li>
                    <li><a id="signout" class="tx-black nav-bttn" href="{{ url_for('signout') }}">Sign Out</a></li>
                    {% else %}
                    <li><a id="signin" class="tx-black nav-bttn" href="{{ url_for('signin') }}">Sign In</a></li>
                    {% endif %}
                </ul>
            </div>
        </nav>
        <!--Side nave bar buttons-->
        <ul class="sidenav" id="mobile-demo">
            <li><a class="tx-black bg-grey nav-bttn" href="{{ url_for('feed') }}">Feed</a></li>
            {% if session.user %}
            <li><a class="tx-black bg-grey nav-bttn" href="{{ url_for('your_reviews') }}">Your Reviews</a></li>
            <li><a class="tx-black bg-green nav-bttn signin" href="{{ url_for('signin') }}">Sign In</a></li>
            {% else %}
            <li><a class="tx-black bg-red nav-bttn signout" href="{{ url_for('signout') }}l">Sign Out</a></li>
            {% endif %}
        </ul>
    </header>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <div class="row flashes center-align">
                    <h3 class="bg-grey tx-black">
                        {{- message -}}
                    </h4>
                </div>
            {% endfor %}
        {% endif%}
    {% endwith%}
    {% block content %}
    {% endblock %}
    <footer>
        <div class="bg-grey tx-black valign-wrapper footer">
            <a href="#!" class="brand-logo black-text"><i class="fa-regular fa-copyright"></i><span
                    class="youtube white-text">Your</span>Tube</a>
        </div>
    </footer>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>

</html>