<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>YourTube</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script src="https://kit.fontawesome.com/289e1d11d0.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css">
</head>

<body>
    <!--Main content-->
    <section>
        <!--background image div-->
        <div class="background-img center-align valign-wrapper">
            <!--main content card-->
            <div class="container" id="welcome-card">
                <div class="row welcome-card-title">
                    <a href="#!" class="brand-logo black-text"><span class="youtube white-text">Your</span>Tube</a>
                </div>
                <div class="row welcome-card-text">
                    <h4>Welcome to YourTube!</h4>
                    <p class="hide-on-small-only">Looking for what to watch next? Join today to view and create reviews
                        on eveyrone favorite
                        youtubers. Whether you are looking to learn or share, theres a home for you at YourTube.</p>
                </div>
                <div class="welcome-options-wrapper">
                    <div class="row">
                        <div class="col s12 m6 center-align">
                            <a class="btn-large bg-white tx-black" href="{{ url_for('signin')}}">Sign In</a>
                        </div>
                        <div class="col s12 m6 center-align">
                            <a class="btn-large bg-white tx-black" href="{{ url_for('feed')}}">Public Reviews</a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12 center-align">
                            <a class="btn-large bg-green tx-black" href="{{ url_for('signup')}}">Create an account</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>

</html>