{% extends "base.html" %}
{% block content %}
<!--Page Title-->
<div class="container">
    <div class="col center-align offset-m2 m8 s12">
        <div class="underline-wrapper">
            <h2 class="screen-title tx-black">Your Reviews</h2>
        </div>
    </div>
</div>
<!--New review button-->
<div class="container">
    <div class="row s12 center-align create-bttn-wrapper">
        <a href="{{ url_for('create_review') }}" class="btn-large bg-green">Create review</a>
    </div>
</div>
<!--Start of content card-->
<div>
    <div class="row">
        <div class="col offset-m2 m8 s12">
            <div class="card bg-white z-depth-0">
                <div class="card-content">
                    <ul class="collapsible popout">
                        {% for review in reviews%}
                        <li>
                            <div class="collapsible-header bg-red tx-white">
                                <i class="fa-solid fa-play"></i>
                                {% if review.channel_link %}
                                <a class="channel-name link-hover" href="{{ review.channel_link }}" target="_blank">{{
                                    review.channel_name }}</a>
                                {% else %}
                                <p class="channel-name" href="{{ review.channel_link }}" target="_blank">{{
                                    review.channel_name }}</p>
                                {% endif %}
                                <a class="center-align edit-bttn"
                                    href="{{ url_for('edit_review', review_id=review._id)}}" aria-label="edit button"><i
                                        class="fa-solid fa-pen-to-square"></i></a>
                            </div>
                            <div class="collapsible-body bg-grey">
                                <p class="review-header">
                                    <strong>Date Created: </strong><span class="review-data">{{ review.date_created
                                        }}</span>
                                </p>
                                <p class="review-header">
                                    <strong>Created By: </strong><span class="review-data">{{ review.created_by
                                        }}</span>
                                </p>
                                <p class="review-header">
                                    <strong>Rating: </strong><span class="review-data">{{ review.rating }}</span>
                                </p>
                                <p class="review-header">
                                    <strong>Genre: </strong><span class="review-data">{{ review.genre }}</span>
                                </p>
                                <span class="review-data">{{ review.description }}</span>
                            </div>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}